body{
    background: #FBE8A6;
    color: #F4976C;
    text-align: center;
}
p{
    margin: 25px 0;
}
h1,h2{
    display: flex;
    justify-content: center;
}
input,select{
    background: #B4DFE5;
    border: 2px solid #303C6C;
    border-radius: 10px;
    height: 33px;
    width: 400px;
    color:  #303C6C;
    padding-left: 20px;
}
.form {
    
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    background: #FEF9C7;
    height: 100%;
    border-radius: 40px;
}
.men,.wom,.sog{
    width: 15px;
    height: 15px;
    margin: 0 30px;
}
input:invalid{
    color: #ff0000;
    border-color:#ff0000 ;
}
