<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script defer src="assets/js/vue.global.js"></script>
        <script defer src="assets/js/js.js"></script>
        <script src="assets/js/order.js"></script>
        <script src="assets/js/user.js"></script>
    </head>
    <body>
        <style>
            hr{
                margin: 20px 0px;
            }
            .product{
                border: 1px solid greenyellow;
                padding: 10px;
                margin: 10px;
            }
            .list{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        </style>
        <div id="app">
            <p>Имя: {{ name }}</p>
            <p>Выражение: {{ x }} + {{ y }} = {{ x + y }}</p>
            <input type="text" v-model="x"/>+
            <input type="text" v-model="y">={{ ~~x + ~~y}}
            <p>Условие: {{ x > 25 ? `в ${x} - Вам пора работать :)`:`в ${x} - Вам нужно учиться!!!`}}</p>
            <p>Метод: {{ sum() }}</p>
            <p>Функция: {{ name.split('').reverse().join(' ')}}</p>
            <p>Группа: {{ grua}}</p>
            <p>Разработчик: {{ name1( name , last_name , O_name ) }}</p>
            <p>Сегодня: {{ data_today() }}</p>
            <p>Завтра: {{ data_tomorrow() }}</p>
            <p>Массив: {{sum_arr(arr)}}</p>
            <hr>
            <a :href="url" :title="url">Загрузить Google</a>
            <hr>
            <img :src="src" :alt="alt" :title="title1" height="300">
            <hr>
            <h2>Счетчик 1 = {{counter1}}</h2>
            <button @click="addCount">Увеличить</button>
            <hr>
            <h2 @mouseenter="mouseEnter">Счетчик 2 = {{counter2}}</h2>
            <button @click="counter2++">Увеличить</button>
            <hr>
            <h2>{{title}}={{counter}}</h2>
            <button @click="addCounter(2,'Изменено на 2',$event)">Увеличить на 2</button>
            <button @click="addCounter(5,'Изменено на 5',$event)">Увеличить на 5</button>
            <hr>
            <input type="text" @keyup.enter.spase="showAlert(login)" v-model="login">
            <hr>
            <button @click="showDate()">Показать время</button>
            <hr>
            <button @mouseenter="showDate()">Показать время</button>
            <hr>
            <input type="text" v-model="text"><br>
            <button @click="addText1">Кнопка 1</button>
            <button @click="addText2">Кнопка 2</button>
            <hr>
            Цена:{{cost}}<br>
            Количество:{{amount}}<br>
            Итого:{{cost*amount}}<br>
            <button @click="addCost">Повысить цену на 1</button>
            <button @click="addAmount">Добавить на 1</button>
            <hr>
            id: {{order[0].id}}<br>
            title: {{order[0].title}}<br>
            firm: {{order[0].firm}}<br>
            color: {{order[0].color}}<br>
            country: {{order[0].country}}<br>
            availability: {{order[0].availability}}<br>
            size: {{order[0].size}}<br>
            price: {{order[0].price}}<br>
            img: <br><img :src="order[0].img" height="300"><br>
            <hr>
            Random img: <br><img height="400" :src="dynamicIMG[Math.floor(Math.random()*3)]">
            <hr>
            <h1>Пользователь</h1>
                <p>User_id: {{user.id}}</p> 
                <p>ФИО: {{user.surname}} {{user.name}} {{user.patronymic}}</p>
                <p>Заказы: {{userOrder(user.order)}}</p>
            <h1>Товар</h1>
            <div class="list">
                <div v-for="product in order" >
                    <div class="product" v-if="productIf(user.order,product.id)">
                        <p>№ {{product.id}}</p>
                        <p>Название {{product.title}}</p>
                        <p>Фирма {{product.firm}}</p>
                        <p>Цвет {{product.color}}</p>
                        <p>Наличие {{product.availability}}</p>
                        <p>Размер {{product.size}}</p>
                        <p>Цена {{product.price}}</p>
                        <p> <img :src="product.img" height="300"></p>
                        <p>Скидка {{product.discount}}</p>  
                    </div>
                </div>
            </div>
            
            <h1>К оплате - {{productPayment(order,user.order)}} Руб.</h1>
            <hr>
            <p ref="result">
                Получили: {{number}}
            </p>
            <hr>
            <button @mouseover="mouseColor()" @mouseout="mouseBack()" ref="textback">Текст</button>
            <hr>
            <button @click="isActive=!isActive">{{isActive?'Скрыть':'Показать'}} информацию</button><br>
            <img :src="img[0]" width="280" height="230" v-show="isActive" ref="img" @mouseover="mouseImg()" @mouseout="mouseBackImg()">
            <hr>
            <div v-show="displayOne">
                <div ref="displayOne">
                    <p>
                        Имя: <br>
                        <input type="text" v-model="formName">
                    </p>
                    <p>
                        Фамилия: <br>
                        <input type="text" v-model="formLastName">
                    </p>
                    <p>
                        Email: <br>
                        <input type="text" v-model="formEmail">
                    </p>
                    <p>
                        Возраст: <br>
                        <input type="number" min="1" v-model="formAge">
                    </p>
                    <button @click=" displayOne=!displayOne , displayTwo=!displayTwo">OK</button>
                </div>
            </div>
            <div v-show="displayTwo">
                <div ref="displayTwo">
                    <p>
                        Имя
                    </p>
                    <p>
                        {{formName}}
                    </p>
                    <p>
                        Фамилия
                    </p>
                    <p>
                        {{formLastName}}
                    </p>
                    <p>
                        Email
                    </p>
                    <p>
                        {{formEmail}}
                    </p>
                    <p>
                        Возраст
                    </p>
                    <p>
                        {{formAge}}
                    </p>
                </div>
            </div>
            <hr>
            <div ref="showMenu">
                <div  v-for="img in listImg">
                    <button @click="listImg1(img.path)">
                        {{img.title}}
                    </button>
                </div>
            </div>
            <div ref="showImg">
                <img :src="blockImg" ref="BlockImg">
            </div>
            <hr>
            <p>Добавить элемент</p>
            <form @submit.prevent="addElement">
                <input type="text" v-model="element" ref="www">
                <button>Добавить</button>
                <br>
                <div v-if="isEmpty">Введите данные...</div>
            </form>
            <ul>
                <li v-for="elements in list"
                 @mouseenter="$event.target.style.color='tomato'" 
                 @mouseleave="$event.target.style.color='black'">{{elements}}</li>
            </ul>
            <hr>
            <p>Добавить элемент</p>
            <form @submit.prevent="addElement2">
                Min<input type="number" v-model="elementMin">
                Max<input type="number" v-model="elementMax">
                <button>Добавить</button>
                <br>
                <div v-if="isEmpty2">Введите данные...</div>
            </form>
            <ul>
                <li v-for="elements in list2"
                 @mouseenter="$event.target.style.color='tomato'" 
                 @mouseleave="$event.target.style.color='black'">{{elements}}</li>
            </ul>
            <hr>
            <div ref="showMenu1">
                <div v-for="(color,index) in listColor1" :key="index">
                    <div @mouseenter="dnmImg1(color.color1,color.img)" :style="{background:color.color1}">
                        img {{index+1}}
                    </div>
                </div>
            </div>
            <div ref="fImg">
                <img :src="blockImg21" width="1876">
            </div>
            <hr>
            <select name="" id="">
                <option v-for="element in listCar" @click="dnmImg211(element.name,element.description,element.img)">
                    {{element.name}}
                </option>
            </select>
            <div>
                <h1>{{listCarName}}</h1>
                <p>Описание: {{listCarDescription}}</p>
                <img :src="listCarImg" alt="">
            </div>
        </div>
    </body>
</html>